{% extends 'base.html' %}

{% block content %}

<h2> Edit a user</h2>

<form action="/users/{{user.id}}/edit" method="post">
 <label for="first_name">First Name</label>
   <input type="text" name="first_name" placeholder="{{user.first_name}}" required>
   <label for="last_name">Last Name</label>
   <input type="text" name="last_name" placeholder="{{user.last_name}}" required>

   <!-- instead of placeholder, do value for the name etc. Placeholders are more for instructions and stuff -->
   <label for="image_URL">Image URL</label>
   <input type="url" name="image_url" placeholder="{{user.image_url}}">
   <button href="/user/{{user.id}}">Cancel</button>
   <input type="submit" value="Save">
</form>

<!-- if you have a label, you need an id so that they are connected -->
<!-- think spaces between moustache -->

{% endblock %}