{% extends 'base.html' %}

{% block content %}

<body>
  <h2>{{user.first_name}} {{user.last_name}}</h2>

  <section>

    <aside>
      <img src="{{user.image_url}}">
    </aside>

    <form action="/users/{{user.id}}/edit" method="get">
      <button>Edit</button>
    </form>

    <form action="/users/{{user.id}}/delete" method="post">
      <button>Delete</button>
    </form>
    <!-- <button formaction="/endpoint" formmethod="post"></button> -->

  </section>

  <!-- get in the habit of doing spaces between your moustache variables -->

  <section>
    <h3>Posts</h3>
    <ul>
      {% for post in posts %}
      <li> <a href="/users/{{ post.id }}">{{ post.title }} </a>

      </li>

      {% endfor %}
    </ul>


  <form>
    <button formaction="/users/{{user.id}}/posts/new" formmethod="get">ADD POST</button>
  </form>

  </section>

</body>
{% endblock %}